body {
    background-color: #2A363B;
    font-family: 'Times New Roman';
}


.burger-img,
.lasagna-img,
.tenders-img {
    height: fixed;
    width: 200px;
}

.title {
    text-align: center;
    font-size: 50px;
    color: #FECEAB;
}

.list {
    font-size: 30px;
    color: #FECEAB;
    font-weight: bold;
}